In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
import numpy as np
# Import the API key.
from config import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
prefered_city_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
prefered_city_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,14,Victoria,HK,86.00,overcast clouds,22.29,114.16,Mini Hotel Central
1,20,Katsuura,JP,75.00,overcast clouds,35.13,140.30,Katsuura Hotel Mikazuki
2,30,Jamestown,US,84.20,clear sky,42.10,-79.24,Hampton Inn & Suites Jamestown
3,37,Timmins,CA,84.20,broken clouds,48.47,-81.33,The Senator Hotel & Conference Centre
4,41,Avarua,CK,75.20,broken clouds,-21.21,-159.78,Paradise Inn
...,...,...,...,...,...,...,...,...
180,542,Palmer,US,87.01,scattered clouds,42.16,-72.33,Wedgewood Motel
181,545,Upata,VE,87.01,few clouds,8.01,-62.40,Posada Villa Nela
182,547,Itacare,BR,78.80,broken clouds,-14.28,-39.00,Ecoporan Hotel Charme Spa & Eventos
183,549,Puerto Ayacucho,VE,87.80,few clouds,5.66,-67.62,Posada Turistica Manapiare
184,550,The Valley,AI,89.60,haze,18.22,-63.06,CeBlue Villas & Beach Resort

In [12]:
Roma_df = prefered_city_df[prefered_city_df["City"]=="Roma"]
Roma_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
164,494,Roma,US,90.0,clear sky,43.21,-75.46,Wingate By Wyndham Rome

In [13]:
Albany_df = prefered_city_df[prefered_city_df["City"]=="Albany"]
Albany_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
18,85,Albany,US,87.01,clear sky,42.6,-73.97,NaN

In [14]:
Palmer_df = prefered_city_df[prefered_city_df["City"]=="Palmer"]
Palmer_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
180,542,Palmer,US,87.01,scattered clouds,42.16,-72.33,Wedgewood Motel

In [15]:
Westport_df = prefered_city_df[prefered_city_df["City"]=="Westport"]
Westport_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
70,230,Westport,US,89.01,clear sky,41.14,-73.36,The Westport Inn

In [16]:
#Create a list of latitudes
Latlist = []
Latlist.append(Roma_df.iloc[0]["Lat"])
Latlist.append(Albany_df.iloc[0]["Lat"])
Latlist.append(Palmer_df.iloc[0]["Lat"])
Latlist.append(Westport_df.iloc[0]["Lat"])

#Create a list of longitudes
Longlist = []
Longlist.append(Roma_df.iloc[0]["Lng"])
Longlist.append(Albany_df.iloc[0]["Lng"])
Longlist.append(Palmer_df.iloc[0]["Lng"])
Longlist.append(Westport_df.iloc[0]["Lng"])

#Combine into a Tuple
Coordinations = list(zip(Latlist,Longlist))

Coordinations

[(43.21, -75.46), (42.6, -73.97), (42.16, -72.33), (41.14, -73.36)]

In [17]:
# Label the coordinates
Roma = Coordinations[0]
Albany = Coordinations[1]
Palmer = Coordinations[2]
Westport = Coordinations[3]

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
# Map the directions
fig = gmaps.figure()
Roma_to_Westport = gmaps.directions_layer(
        Roma, Westport, waypoints=[Albany, Palmer],
        travel_mode='DRIVING')
fig.add_layer(Roma_to_Westport)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#Combine the four separate DataFrames for each city into one DataFrame.
merged_cities_df = Roma_df.append(Albany_df).append(Palmer_df).append(Westport_df)
merged_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
164,494,Roma,US,90.00,clear sky,43.21,-75.46,Wingate By Wyndham Rome
18,85,Albany,US,87.01,clear sky,42.60,-73.97,NaN
180,542,Palmer,US,87.01,scattered clouds,42.16,-72.33,Wedgewood Motel
70,230,Westport,US,89.01,clear sky,41.14,-73.36,The Westport Inn

In [65]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

In [68]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in merged_cities_df.iterrows()]

In [76]:
#Create a marker layer map for the four cities with route
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = merged_cities_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(42.0, -72.0), zoom_level=6.70)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
#Create a marker layer map for the four cities with route
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = merged_cities_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(42.0, -72.0), zoom_level=6.7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(Roma_to_Westport)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))